@use "./sass/navigation.scss";
@use "./sass/form_container/form_container.scss";
@import "./sass/mixins";
@import "./sass/variables";

@font-face {
  font-family: 'ubuntu';
  src: url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}
body{
    background-color: $secondary-bg-color;
    font-family: ubuntu;
  }
ul,
li {
  padding: 0;
  padding: 0;
}
li {
  list-style: none;
}

@include desktop {
  .app {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .app-container {
    width: 60%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    padding: 15px;
    background: white;
    border-radius: 10px;
  }
}
